body{
    margin:0;
    width: 100%;
    height: 100%;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size:1rem;
    font-weight:400;
    line-height:1.2;
    color:#212529;
    text-align:left;
    background-color: lightgray;
}

.vertical-center{
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ikeyword{
    float: right;
    margin-right: 61.5vh;
}

#keysubmit{
    margin-left: 1vh;
}

.ikeyword{
    float: right;
    margin-right: 60vh;
}

#keysubmit{
    margin-left: 1vh;
}

.container{
    width: 100%;
    height: 100%;
}

.toppane{
    width: 100%;
    height: 5%;
    color: white;
    border-collapse: collapse;
    background-color: lightslategray;
}

.leftpane{
    width: 30%;
    height: 65%;
    float: left;
    background-color: whitesmoke;
    border-collapse: collapse;
}

.middlepane{
    width: 20%;
    height: 65%;
    position: relative;
    float: left;
    background-color: whitesmoke;
    border-collapse: collapse;
}

.rightpane{
    width: 50%;
    height: 65%;
    position: relative;
    float: left;
    background-color: white;
    border-collapse: collapse;
}

.bottompane{
    width: 100%;
    height: 30%;
    float: left;
    background-color: whitesmoke;
}

.portfolio_panel{
    height: 94.5%;
    overflow: auto;
    position: relative;
    border: 1px solid;
    margin: 1px;
}

.portfolio_panel::-webkit-scrollbar{
    display: none;
}

.general_panel{
    height: 94.5%;
    overflow: auto;
    position: relative;
    border: 1px solid;
    margin: 1px;
}

.general_panel::-webkit-scrollbar{
    display: none;
}

.news_panel{
    width: 32.5%;
    height: 94.5%;
    overflow: auto;
    position: relative;
    float: left;
    border: 1px solid;
    margin: 1px;
}

.news_panel::-webkit-scrollbar{
    display: none;
}

.tabs_panel{
    width: 100%;
    height: 58%;
}

.twitter_panel{
    width: 24.6%;
    height: 100%;
    overflow: auto;
    position: relative;
    float: left;
    border: 1px solid;
    margin: 1px;
}