<html>
    <head>
        
        <link rel=stylesheet type="text/css" href="../static/login.css">

    </head>

    <body bgcolor="gray">

            <div class="loginb">
                <center>
                    <b>News Assistant</b><br><br>
                    <form action="login.html" method="post">
                        <table>
                            <tr>
                                <td style="text-align:right">username: </td>
                                <td><input type="text" id="usr" name="usr"></td>
                            </tr>
                            <tr>
                                <td style="text-align:right">password: </td>
                                <td><input type="text" id="pwd" name="pwd"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" id="login" value="login"></td>
                            </tr>
                        </table>
                    </form>
                </center>
            </div>

    </body>
</html>