<html>
    <head>
        <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <!--Basic settings above-->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function(){
                $("#datepicker").datepicker();
                <!--$("#datepicker").datepicker("setDate", new Date());-->
            });

            $(function(){
                $("#tabs").tabs();
            });
        </script>
        <!--Datepicker/Tabs code above-->

    </head>
    
    <body> 
        <!--Input Section-->
        <div class="toppane">
            <div class="vertical-center">
            
                <form action="main.html" method="post">
                Date <input type="text" id="datepicker" name="datepicker" value={{date}}></td>
                Portfolio: 
                    <select id="portfolio" name="portfolio">
                        <option value="pph_1" {{selected['pph_1']}}>day_above_positive_5</option>
                        <option value="pph_2" {{selected['pph_2']}}>day_below_negative_5</option>
                        <option value="pph_3" {{selected['pph_3']}}>week_above_positive_10</option>
                        <option value="pph_4" {{selected['pph_4']}}>week_below_negative_10</option>
                    </select>
                <div class="ikeyword">Keyword: <input type="text" id="ikeyword" name="ikeyword" value={{keyword}}><input type="submit" id="keysubmit" name="keysubmit" value="search"></div>
            </form>
            
            </div>
        </div>
        
        <!--Portfolio Display Section-->
        <div class="leftpane">
            Portfolio Information<br>
            <div class="portfolio_panel" name="portfolio_panel">
                {% for stock in portfolio %}
                    <div style="font-size: 10pt; text-align: justify; color:#222222; text-decoration: none; margin: 1px; padding: 9px; background-color: gainsboro; cursor: pointer;">
                        {{ stock }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <!--General Display Section-->
        <div class="middlepane">
            Portfolio News<br>
            <div class="general_panel" name="general_panel">
                {% for news in portfolio_news %}
                <a style="text-decoration: none" href={{ news['link']}}>
                    <div style="font-size: 10pt; text-align: justify; color:#222222; text-decoration: none; margin: 1px; padding: 9px; background-color: gainsboro; cursor: pointer;">
                        {{ news['title']}}
                        
                    </div>
                </a>
                {% endfor %}        
            </div>
        </div>
        
        <!--News Display Section-->
        <div class="rightpane">
            Top News<br>
            <div class="news_panel" name="news_panel">
                {{key1}}<br>
                {% for news in top_news_list_1 %}
                <a style="text-decoration: none" href={{ news['link']}} onclick="submit_message({{ news }}, '1');" target="_blank">
                    <div style="font-size: 10pt; text-align: justify; color:#222222; text-decoration: none; margin: 1px; padding: 9px; background-color: gainsboro; cursor: pointer;">
                        {{ news['title']}}
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="news_panel" name="news_panel">
                {{key2}}<br>
                {% for news in top_news_list_2 %}
                    <a style="text-decoration: none" href={{ news['link']}} onclick="submit_message({{ news }}, '2');" target="_blank">
                        <div style="font-size: 10pt; text-align: justify; color:#222222; text-decoration: none; margin: 1px; padding: 9px; background-color: gainsboro; cursor: pointer;">
                            {{ news['title']}}
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="news_panel" name="news_panel">
                {{key3}}<br>
                {% for news in top_news_list_3 %}
                    <a style="text-decoration: none" href={{ news['link']}} onclick="submit_message({{ news }}, '3');" target="_blank">
                        <div style="font-size: 10pt; text-align: justify; color:#222222; text-decoration: none; margin: 1px; padding: 9px;background-color: gainsboro; cursor: pointer;">
                            {{ news['title']}}
                        </div>
                    </a>
                {% endfor %}
            </div> 
        </div>

        <!--General Recommendation Display Section-->
        <div class="bottompane">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Market Trends</a></li>
                    <li><a href="#tabs-2">Twitter_1</a></li>
                    <li><a href="#tabs-3">Twitter_2</a></li>
                    <li><a href="#tabs-4">Twitter_3</a></li>
                    <li><a href="#tabs-5">Twitter_4</a></li>
                </ul>
                <div id="tabs-1"><div class="tabs_panel" name="tabs_panel">
                </div></div>
                <div id="tabs-2"><div class="tabs_panel" name="tabs_panel">
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                </div></div>
                <div id="tabs-3"><div class="tabs_panel" name="tabs_panel">
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                </div></div>
                <div id="tabs-4"><div class="tabs_panel" name="tabs_panel">
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                </div></div>
                <div id="tabs-5"><div class="tabs_panel" name="tabs_panel">
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                    <div class="twitter_panel" name="twitter_panel">placeholder for news recommendations<br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.<br><br>1.<br>2.<br>3.<br>4.<br>5.<br>6.<br>7.<br>8.<br>9.<br>10.</div>
                </div></div>
            </div>
        </div>
    </body>
</html>

{% block script %}
<script>
function submit_message(obj, tab) {
        var entry = {
            title: obj['title'],
            url: obj['link'],
            tab: tab
        };

        fetch(`${window.origin}/log/create-entry`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
              "content-type": "application/json"
            })
          })
          .then(function(response) {
            if (response.status !== 200) {
              console.log(`Looks like there was a problem. Status code: ${response.status}`);
              return;
            }
            response.json().then(function(data) {
              console.log(data);
            });
          })
          .catch(function(error) {
            console.log("Fetch error: " + error);
        });
    }
</script>
{% endblock %}